[search_rules]
start_time = 2021-05-01
end_time = 2021-06-01
query = (happy or happiness) lang:en -birthday -is:retweet has:hashtags
tweet_fields = id,created_at,text,public_metrics
user_fields = description
expansions=author_id

[search_params]
results_per_call = 10
max_tweets = 10
output_format = r

[output_params]
save_file = True
filename_prefix = output_new2
results_per_file = 10