[search_rules]
start_time = 2020-05-01
end_time = 2021-06-01
query = (happy or happiness) lang:en -birthday -is:retweet has:geo has:media
tweet_fields = id,author_id,text,created_at
place_fields = contained_within,country
media_fields = type,preview_image_url
expansions = geo.place_id,attachments.media_keys,author_id

[search_params]
results_per_call = 10
max_tweets = 10
output_format = r

[output_params]
save_file = True
filename_prefix = output/happiness
results_per_file = 10