[search_rules]
start_time = 2020-05-01
end_time = 2021-06-01
query = #EurovisionAgain
tweet_fields = id,author_id,text,created_at

[search_params]
results_per_call = 500
max_tweets = 1000
output_format = r

[output_params]
save_file = True
filename_prefix = output/EurovisionAgain
results_per_file = 100